/* chat.css */

/* Reset default browser styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

/* Chat container */
#chat {
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #48cf48;
  border-radius: 10px;
  background-image: url('https://media.istockphoto.com/id/1311966784/photo/chat-speech-bubble-on-smart-phone-screen.jpg?s=612x612&w=0&k=20&c=6qC75HU6r9pWmlFCJ7kjyHhbFUx27J1gYD02sS0aufU='); /* Replace 'your-background-image-url.jpg' with the URL of your background image */
  background-size: cover; /* Cover the entire container */
  background-position: center; /* Center the background image */
}

/* Input container */
.input-container {
  margin-top: 20px;
  display: flex;
  align-items: center;
}

/* Message input field */
.input-container input[type="text"] {
  flex: 1;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ca2020;
  border-radius: 5px;
}

/* Send button */
.input-container button {
  padding: 10px 20px;
  margin-left: 10px;
  font-size: 16px;
  background-color: #27d46a;
  color: #000000;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

/* Hover effect for send button */
.input-container button:hover {
  background-color: #1d87f8;
}

/* Message container */
#messages {
  margin-top: 20px;
  padding: 10px;
  border: 1px solid #fff6fe;
  border-radius: 5px;
  overflow-y: auto;
  max-height: 300px;
}

/* Individual message container */
.message-container {
  margin-bottom: 10px;
  position: relative; /* Add relative positioning */
}

/* Add border between each message */
.message-container + .message-container {
  border-top: 1px solid #0add07;
  padding-top: 10px; /* Add padding to separate messages */
}

/* Message text */
.message-content {
  word-wrap: break-word;
}

/* Delete message button */
.message-container button {
  position: absolute;
  top: 5px; /* Adjust top position */
  right: 5px; /* Adjust right position */
  background-color: #dc3545;
  color: #000000;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* Hover effect for delete message button */
.message-container button:hover {
  background-color: #c82333;
}

/* Animation for message containers */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}


#messages::-webkit-scrollbar {
  width: 10px;
}

#messages::-webkit-scrollbar-track {
  
  border-radius: 5px;
}

#messages::-webkit-scrollbar-thumb {
  background-color: #31f40a;
  border-radius: 5px;
}

#messages::-webkit-scrollbar-thumb:hover {
  background-color: #a3e11e;
}